Package: com.michael.localssh
Version: 0.2.1
Section: Tweaks
Name: LocalSSH
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: firmware (>= 11.0), openssh, sed
Replaces: com.midnightchips.localhostssh
Conflicts: com.midnightchips.localhostssh
Provides: com.midnightchips.localhostssh
Architecture: iphoneos-arm
Description: Enable port 2222 for OpenSSH.
 Support Checkra1n, Chimera, Electra and Unc0ver.
